@import "tailwindcss";

body {
    font-family: "Open Sans", 'Sour Gummy', sans-serif;
}

@theme {
    --font-open-sans: "Open Sans", sans-serif;
    --font-sour-gummy: "Sour Gummy", sans-serif;
    --color-electric-lime: #cfff04;
    --color-avocado: #8e9568;
    --color-beige: #f9faef;
    --color-siam: #5e604f;
    --color-hunter-green: #1b1d0e;
}

.nav-item {
    @apply cursor-pointer flex gap-4 items-center text-slate-50 w-full py-2 my-2;
}